.App {
  height: 100vh;
  overflow-y: auto;
}

.mb-8 {
  margin-bottom: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.row {
  display: flex;
}

.col10 {
  width: 10%;
}

.col20 {
  width: 20%;
}

.col30 {
  width: 30%;
}

.col40 {
  width: 40%;
}

.col50 {
  width: 50%;
}

.col60 {
  width: 60%;
}

.col70 {
  width: 70%;
}

.col80 {
  width: 80%;
}

.col90 {
  width: 90%;
}

.col100 {
  width: 100%;
}